<launch>
  
  <node name="dr_spaam_lidar_person_detection"
        pkg="jsk_perception" type="lidar_person_detection_node.py"
        output="screen">
    <remap from="~input" to="/base_scan" />
    <rosparam subst_value="true" >
      map_link: /map
      weight_file: "$(find jsk_perception)/trained_data/lidar_person_detection/ckpt_jrdb_ann_dr_spaam_e20.pth"
      detector_model: "DR-SPAAM"
      conf_thresh: 0.8
      stride: 1
      panoramic_scan: false
      gpu: -1
    </rosparam>
  </node>

  <node name="person_pose_array_to_pose_stamped"
        pkg="navigation_utils" type="person_pose_array_to_pose_stamped.py"
        output="screen">
    <remap from="~input" to="/dr_spaam_lidar_person_detection/output"/>
    <rosparam subst_value="true">
      frame_id: base_link
      target_arm: larm
    </rosparam>
  </node>
  
  <node pkg="navigation_utils" type="tf_transposer"
        name="tf_transposer" >
    <remap from="~input/pose" to="/person_pose_array_to_pose_stamped/output" />
  </node>
  
</launch>
