<launch>
  
  <node name="person_pose_array_to_pose_stamped"
        pkg="navigation_utils" type="person_pose_array_to_pose_stamped.py"
        output="screen">
    <remap from="~input" to="/dr_spaam_lidar_person_detection/output"/>
    <rosparam subst_value="true">
      frame_id: base_link
      target_arm: larm
    </rosparam>
  </node>
  
  <node pkg="navigation_utils" type="tf_base_transposer"
        name="tf_transposer" >
    <remap from="~input/pose" to="/person_pose_array_to_pose_stamped/output" />
  </node>

</launch>
